<template name="AgentShortcuts">
<div id="agent-shortcuts">
  <div class="form-group">
    <input type="search" class="form-control agent-shortcuts-search" placeholder="search">
  </div>
  <ul class="list-group">
    {{#each shortcuts}}
    <li class="list-group-item agent-shortcut">
    <div>
      <a class="agent-shortcut-body" href="#">{{body}}</a> 
    </div>
    <div class="agent-shortcut-controls">
      <a href="#" class="agent-shortcut-edit"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="#" class="agent-shortcut-delete"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    </li>
    {{/each}}
  </ul>
</div>
</template>
