<template name="Header">
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">streamchat</a>
    {{#if currentUser}}
    <ul class="nav navbar-nav">
      <li><a href="{{pathFor 'agent'}}">agent</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">admin <b
          class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{pathFor 'users'}}">users</a></li>
        <li><a href="{{pathFor 'groups'}}">groups</a></li>
        <li><a href="{{pathFor 'autogroups'}}">autogroups</a></li>
      </ul>
      </li>
      <li><a href="{{pathFor 'messages'}}">messages</a></li>
    </ul>
    <div class="navbar-right">
      <small>
        <span class="navbar-text"><b>{{currentUser.profile.displayName}}</b></span>
        <span class="navbar-text"><a href="#" id="logout">Log out</a></span>
      </small>
    </div>
    {{/if}}
  </div>
</div>
</template>
