<template name="Header">
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">streamchat</a>
    {{#if currentUser}}
    <ul class="nav navbar-nav">
      <li><a href="">Agent</a></li>
      <li><a href="">Admin</a></li>
      <li><a href="">Visitor</a></li>
    </ul>
    <div class="navbar-right">
      <small>
        <span class="navbar-text"><b>{{currentUser.profile.displayname}}</b></span>
        <span class="navbar-text"><a href="#" id="logout">Log out</a></span>
      </small>
    </div>
    {{/if}}
  </div>
</div>
</template>
