<template name="AgentSidebar">
<div id="agent-sidebar">
  <ul class="nav nav-tabs">
    <li><a href="#sidebar-group" data-toggle="tab"><span class="glyphicon glyphicon-user"></span></a></li>
    <li><a href="#sidebar-shortcuts" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span></a></li>
  </ul>
  <div class="tab-content">
    <div id="sidebar-group" class="tab-pane">
      <div class="status-indicators">
        <div class="text-muted group-name">{{groupName}}</div>
        <div class="text-info connection-status">{{connection}}</div> 
      </div>
      <div class="agent-list panel panel-primary">
        {{#each groupAgents}}
        <span class="label label-primary">{{displayName}}</span> 
        {{/each}}
      </div>
      <div>
        {{#each groupVisitors}}
        <div class="visitor-channel alert {{#if
          waitingSince}}alert-warning{{else}}alert-success{{/if}} {{#unless
          lastResponseFrom}}alert-danger{{/unless}} {{#if
          activated}}activated{{/if}}">
          <div class="visitor-channel-name">{{displayName}}</div>
          <div>
            <span class="responder-name">
              {{#if lastResponseFrom}}
              <span class="label label-primary">{{lastResponseFrom}}</span>
              {{/if}}
            </span>
            <span class="visitor-visibility pull-right">
              <span class="visitor-mute {{#if isMute}}bg-primary{{else}}bg-white{{/if}}">M</span> 
              <span class="visitor-solo {{#if isSolo}}bg-primary{{else}}bg-white{{/if}}">S</span>
            </span>
          </div>
        </div>
        {{/each}}
      </div> 
    </div>
    <div id="sidebar-shortcuts" class="tab-pane">
      {{> AgentShortcuts}}
    </div>
  </div>
</div>
</template>
