<template name="Visitor">
<div class="container" id="visitor-chat-ui">
  {{#if currentUser}}
  {{> visitorTools}}
  {{> visitorChatlog}}
  {{> visitorControls}}
  {{/if}}
</div>
</template>

<template name="entrySurvey">
</template>

<template name="visitorTools">
<a href="#" id="visitor-logout">Logout</a>
</template>

<template name="visitorChatlog">
<div id="visitor-chatlog">
  <div>
    {{#each messages}}
    <div><b>{{senderName}}</b> {{body}}</div>
    {{/each}}
  </div>
</div>
</template>

<template name="visitorControls">
<form class="form-inline" id="visitor-chat-controls" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="visitor-chat-input" placeholder="Message" autofocus>
  </div>
  <button type="submit" class="btn btn-primary" id="visitor-chat-send">Send</button>
</form>
</template>
