/*****************************************************************************/
/* AgentInput: Style */
/*****************************************************************************/

#agent-input-message, #agent-input-send, #agent-bookmarks {
  height: 50px;
}

#agent-input {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90px;
  right: 250px;
  background: #f5f5f5;
}

#agent-input-form {
  padding: 5px;
  margin:10px;
}

#agent-input-message {
  width: 500px;
  resize: none;
  margin-top:10px;
}

#agent-input-send {
  width: 150px;
  margin-top: 10px;
}

.agent-input-button-text {
  white-space: normal;
}

#agent-bookmarks {
  position:fixed;
  right: 20px;
}

.agent-input-tools {
  position: absolute;
  left: 15px ;
  top: 3px;
  font-size: 8pt;
  width: 500px;
}

.agent-input-tools a {
  padding-right: 5px;
}

.agent-shortcuts-new {
  padding: 3px;
}

.agent-shortcuts-new input {
  margin-bottom: 5px;
}

.agent-input-draft-indicator {
  color: red;
  border: 1px red dashed;
  font-size: 5pt;
  letter-spacing: 3px;
  padding: 1px 3px;
  margin-left: 10px;
  background: lightyellow;
}
